/* CSS Selectors */

/* 

* - universal selector to target al elements inside the html tag 
font-family -changes the style of the font
Courier New - is the font used by the webpage to display the text
monospace - th family from which the browser will try to search for a font once the courier new is not available.

ID Selector - to provide unique styling for an element

*/

/* h1{ */

color: red !important;
background-color: pink !important;
}

*{
  /* font-family:'Courier New', Courier, monospace; */
  /* font-size: 20px; */
}

/* #ID name */
/* #zuitt-motto{ */
  letter-spacing: 5px;
}

/* period (.) - class selector */

/* .offering-item{ */
  text-transform: uppercase;
}

/* input[required]{ */
  border-width: 2px;
  border-style: solid;
  border-color: navy;
}

/* h3{letter-spacing: 25px; */ */