.p3{
  color: yellow;
}

/* UNIVERSAL SELECTOR */
*{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
}

/* TYPE SELECTOR */
h1{
  font-size: 42px;
  font-weight: 600
}

/* ID SELECTOR */
#learn {
  text-transform: uppercase;
}

/* CLASS SELECTOR */
.lang{
  background-color: #aed0a0;
}

/* ATTRIBUTE SELECTOR */
[title~="tools"]{
  border-width: 2px;
  border-style: solid;
  border-color: #99b1cf;
}

/* ADJACENTS SIBLING SELECTOR */
img + ul {
  list-style-type: none;
}

/* DESCENDANT SELECTOR */
body img{
  height: 80px;
  width: 80px;
  border-radius: 150px;
}

/* GENERIC SIBLING SELECTOR */
ul ~ p {
  text-align: center;
}

/* CHILD SELECTOR */
ul > li {
  letter-spacing:5px
}